<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>
<body>

<div class="divinlog">
    <h1 class="loginlogo"><strong>REGISTRATION</strong></h1>

             <form method="post">
                 {% csrf_token %}
                 <input type="text" class="ipbox" name="user" placeholder="USERNMAE"><br>
                 <input type="text" class="ipbox" name="email" placeholder="EMAIL"><br>
                 <input type="password" class="ipbox" name="password" placeholder="PASSWORD" ><br>
                 <input type="text" class="ipbox" name="name" placeholder="NAME" ><br>
                 <input type="text" class="ipbox" name="mobile_no" placeholder="MOBILE_NO" ><br>


                  <button class="button1" type="submit"><strong>SUBMITE</strong></button><br>

             </form>
             <a class="link123" href="http://127.0.0.1:8000/">back to LOGIN </a>
</div>
<a href="http://127.0.0.1:8000/">back to LOGIN </a>
{% if mass %}
    <script>alert("email already exists")</script>
{% endif %}

</body>
</html>
