<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body style="background-color:#088F8F;">
<h1>wellcome <span style="color:yellow;">{{email}}</span></h1>

<div class="divinlog">
    <h1 class="loginlogo"><strong>Upload Photo</strong></h1>

    <form method="post" enctype="multipart/form-data">
       {% csrf_token %}

       <input type="file" name="image" accept="image/*" class="ipbox"><br>

       <button class="button1" type="submit"><strong>Submit</strong></button><br>

</form>
</div>
<div class="maindiv">
    <h1 class="loginlogo">SELF IMAGES</h1>
{% for x in mymembers %}
   <div class="divwidth">
        <img class="imagewidth" src="http://127.0.0.1:8000/media/{{ x.image }}" alt="{{ x.image }}">

   </div>
{% endfor %}
</div>
</body>
</html>





<!--






<form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                  <label >add image here</label><br>
                <input type="file" name="image" accept="image/*"><br>

                  <button class="button1" type="submit"><strong>Submit</strong></button><br>

</form>

{% for x in mymembers %}
	<div> <img src="http://127.0.0.1:8000/media/{{ x.image }}" alt="{{ x.image }}"></div>
{% endfor %}